/*********** Art Attack Style Sheet ***********/


/*Home Style Section*/
#AttackWord {
    font-size: 20px;
    color: #ff4697;
    text-shadow: 1px 1px 0 #000
}

#rm-Mb-txt {
    margin-bottom: 0;
}

.txt-color-pink-big {
    color: #e83e8c;
    font-size: 25px;
}

#login-INunder {
    color: #6f52e5;
    cursor: pointer;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.sing-Up-button{
    margin-right: -100px;
}
.sing-Up-button > a {
    color: #fff;
    font-weight: 500;
    display: inline-block;
    border: 2px solid #fb397d;
    background-color: #fb397d;
    height: 50px;
    min-width: 178px;
    line-height: 46px;
    text-align: center;
    border-radius: 24px;
}

.sing-Up-button > a:hover {
    background: #3e2a72;
    color: #fff;
    font-weight: bold;
    border-color: transparent;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}


/*MyDesign Style Section*/

