<html lang="en"><head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Core Stylesheet -->
    <link href="../library/css/Mydesigne.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="../library/css/responsive.css" rel="stylesheet">
</head>

<body>


<section class="pricing-plane-area section_padding_100_70 clearfix" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text  -->
                <div class="section-heading text-center">
                    <h2>تصاميمي</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12 col-md-6 col-lg-3">
                <!-- Package Price  -->
                <div class="single-price-plan text-center">
                    <!-- Package Text  -->
                    <div class="package-plan">
                        <div class="ca-price d-flex justify-content-center">
                            <img src="../resource/img/5.png">
                        </div>
                    </div>
                    <div class="package-description">
                        <p>تصميم ديني </p>
                        <p>1441\10\1</p>
                    </div>
                    <!-- Plan Button  -->
                    <div class="plan-button">
                        <a href="#">مشاركة</a>
                    </div>
                    <!-- Plan Button  -->
                    <div class="plan-button">
                        <a href="#">تحميل</a>
                    </div>

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <!-- Package Price  -->
                <div class="single-price-plan text-center">
                    <!-- Package Text  -->
                    <div class="package-plan">
                        <img src="../resource/img/6.png">
                    </div>
                    <div class="package-description">
                        <p>تصميم تخرج</p>
                        <p>1441\8\1</p>
                    </div>
                    <!-- Plan Button  -->
                    <div class="plan-button">
                        <a href="#">مشاركة</a>
                    </div>
                    <div class="plan-button">
                        <a href="#">تحميل</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
</body></html>