/******************************* Art Attack Style Sheet *******************************/

/******************************** Global ********************************/

.pointer {
    cursor: pointer;
    width: 18%;
}

.DisplayShow{
    display: block;
}

.DisplayHide{
    display: none;
}

.marginAround_10 {
    margin: 10px;
}

.hidelement {
    display: none;
}

.showElement {
    display: block;
}

.section-head {
    color: #5b32b4;
    font-size: 25px;
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    margin: 10px;
}

.colorfulBG{
    background-image: url(img/authBG.png);
    height: 900px;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
}

.displayFlex {
    display: flex;
}

.inputField {
    text-align: center;
    width: 40%;
    padding: 10px 10px;
    border-radius: 25px 25px 25px 0;
    touch-action: manipulation;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-right: 5px;
}

.respBtnHeader {
    display: none;
}


/************** Auth *******************/
@import url("https://fonts.googleapis.com/css?family=Poppins");

.popStyle {
    font-family: "Poppins", sans-serif;
    position: fixed;
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}


.underlineHover {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

.signTitle {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    margin: 20px;
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
    padding: 5px;
}

/* STRUCTURE */

.wrapperAuT {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

.formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

/* TABS */

.signTitle.inactive {
    color: #cccccc;
}

/*.signTitle.active {*/
/*    color: #0d0d0d;*/
/*    border-bottom: 2px solid #5fbae9;*/
/*}*/

/* FORM TYPOGRAPHY*/

.AuTsubmit {
    background-color: rgba(59, 0, 191, 0.71);
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 10px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.AuTsubmit:hover {
    background-color: #ff4697;
}

.AuTsubmit:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.inputAuT {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.inputAuT:foucs {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

.inputAuT:placeholder {
    color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDownAuT {
    -webkit-animation-name: fadeInDownAuT;
    animation-name: fadeInDownAuT;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDownAuT {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDownAuT {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeInAuT {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeInAuT.fst {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
    outline: none;
    box-sizing: border-box;
}

.fadeInAuT.scd {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
    outline: none;
    box-sizing: border-box;
}

.fadeInAuT.trd {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
    outline: none;
    box-sizing: border-box;
}

.underlineHover:hover {
    color: #0d0d0d;
    outline: none;
    box-sizing: border-box;
}

.underlineHover:hover:after {
    width: 100%;
    outline: none;
    box-sizing: border-box;
}

.logoutStyleBtn{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
}


/******************************* Home Style Section *******************************/
#AttackWord {
    font-size: 20px;
    color: #ff4697;
    text-shadow: 1px 1px 0 #000
}

#rm-Mb-txt {
    margin-bottom: 0;
}

.txt-color-pink-big {
    color: #e83e8c;
    font-size: 25px;
}

#login-INunder {
    color: #6f52e5;
    cursor: pointer;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sing-Up-button > a {
    color: #fff;
    font-weight: 500;
    display: inline-block;
    border: 2px solid #fb397d;
    background-color: #fb397d;
    height: 50px;
    min-width: 178px;
    line-height: 46px;
    text-align: center;
    border-radius: 24px;
}

.sing-Up-button > a:hover {
    background: #3e2a72;
    color: #fff;
    font-weight: bold;
    border-color: transparent;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.ServList {
    color: #0b0b0b;
    margin-left: 7%
}

.ServList:hover {
    color: #ff4697;
}


/******************************* MyDesign Style Section *******************************/
.header_areaMD {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 0;
    padding: 0 4%;
    background: linear-gradient(to left, #7873ed, #a865e1);
    width: 100%;
}

.HeaderBar {
    background: linear-gradient(to left, #7873ed, #a865e1);
}

.Cus > a {
    color: #fff;
    font-weight: 500;
    display: inline-block;
    border: 2px solid #fb397d;
    background-color: #fb397d;
    height: 50px;
    width: 140%;
    line-height: 46px;
    text-align: left;
    border-radius: 24px 0px 0px 24px;
    padding-left: 20%;
}

.Cus > a:hover {
    background: #3e2a72;
    color: #fff;
    font-weight: bold;
    border-color: transparent;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}


/******************************* Profile Style Section *******************************/
.PFsectionTitle {
    font-weight: 300;
    color: #5b32b4;
    font-size: 48px;
    margin: 0;
}

.profBtn1 {
    position: absolute;
    z-index: 1;
    width: 10%;
    margin: 5%;
    padding: 5px;
    top: 32%;
    right: 29%;
}

.profBtn2 {
    position: absolute;
    z-index: 1;
    width: 10%;
    margin: 5%;
    padding: 5px;
    top: 32%;
    right: 18%;
}

.emp-profile {
    padding: 3%;
    margin-bottom: -5%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #9900a8;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 10%;
    padding: 5px;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.profile-edit-btn:hover {
    color: white;
    background-color: #fb397d;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #fb397d;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 15px;
    color: #fb397d;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #9900a8;
}


/******************************* Services Style Section *******************************/

.sImg {
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.sImg img {
    border-radius: 10px;
}

.sTxT > h4 {
    font-size: 22px;
    color: #5b32b4;
}

.sTxT > p {
    color: #b5aec4;
    margin-bottom: 0;
}

.S-hover-effects {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 75, 228, 0.8);
    border-radius: 10px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.single-SSS:hover .S-hover-effects {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.S-social-icon {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.S-social-icon > a {
    font-size: 14px;
    color: #fff;
    background: #9a81d7;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    display: block;
    margin: 2.5px;
}

.single-holder {
    border: 1px solid #eff2f6;
    padding: 30px;
    border-radius: 40px;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    margin-bottom: 20px;
}

.DesignArea {
    height: 22.5rem;
    margin: 10px;
}

.btnTool {
    display: inline-block;
    font-weight: 800;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    width: 18%;
    padding: 1.5rem 0;
    margin: 1.25rem .1rem;
    font-size: 1.5rem;
    line-height: .5;
    border-radius: 50px 50px 50px 50px;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btnTool:hover {
    background-color: #fb397d;
    color: white;
}

.toolBar {
    background: linear-gradient(to left, #7873ed, #a865e1);
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
}

.btnHolder {
    margin-left: .7rem;
}

#saveDesignBtn {
    border-radius: 25px;
    width: 10%;
}

#deleteDesignBtn {
    border-radius: 25px;
    width: 10%;
}

.templateClass {
    height: 350px;
    width: 350px;
}