<!DOCTYPE html>
<html lang="ar">

<head>


    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta charset="UTF-8">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Art Attack | Profile</title>


    <!-- Core Stylesheet -->
    <link href="../../Library/css/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="../../Library/css/AAresponsive.css" rel="stylesheet">

    <!-- Home Style Sheet -->
    <link href="../../Library/ArtAttack.css" rel="stylesheet" type="text/css">

</head>

<body>

<!-- ***** Header Area Start ***** -->
<header class="header_areaMD animated">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Menu Area Start -->
            <div class="col-12 col-lg-10">
                <div class="menu_area">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!-- Logo -->
                        <a class="navbar-brand" href="#">Art<span id="AttackWord">Attack</span></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar"
                                aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span
                                class="navbar-toggler-icon"></span></button>
                        <!-- Menu Area -->
                        <div class="collapse navbar-collapse" id="ca-navbar">
                            <ul class="navbar-nav ml-auto" id="nav">
                                <li class="nav-item"><a class="nav-link respBtnHeader" href="../profile.html">My Profile</a></li>
                                <li class="nav-item"><a class="nav-link" href="../HomeMember.html">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="../MyDesign.html">My Design</a></li>
                                <li class="nav-item"><a class="nav-link" href="../Home.html">Logout</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Customer Profile btn -->
            <div class="col-12 col-lg-2">
                <div class="Cus d-none d-lg-block">
                    <a href="../profile.html">Hi Customer</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
<section class="special-area bg-white section_padding_Container_resp" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div class="displayFlex">
                    <h2 class="section-head">Design Title</h2>
                    <input type="text" name="Projectitle" placeholder="Write project title here!"
                           class="inputField">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-body card shadow mb-4 DesignArea" id="stage">
            </div>
        </div>
    </div>
</section>

<!-- ***** Cool Line ***** -->
<div class="our-monthly-membership section_padding_toolBar_resp"></div>


<!-- ***** Footer Area Start ***** -->

<!-- Jquery-2.2.4 JS -->
<script src="../Library/js/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="../Library/js/popper.min.js"></script>
<!-- Bootstrap-4 Beta JS -->
<script src="../Library/js/bootstrap.min.js"></script>
<!-- All Plugins JS -->
<script src="../Library/js/plugins.js"></script>
<!-- Slick Slider Js-->
<script src="../Library/js/slick.min.js"></script>
<!-- Footer Reveal JS -->
<script src="../Library/js/footer-reveal.min.js"></script>
<!-- Active JS -->
<script src="../Library/js/active.js"></script>

<!-- profile side -->
<script src="../Library/js/bootstrap.min.js"></script>
<script src="../Library/js/jquery.min.js"></script>

</body>

</html>
