<html lang="ar">
<head>
    <meta charset="UTF-8">
<link rel="icon" href="img/core-img/favicon.ico">

<!-- Core Stylesheet -->
<link href="../Library/css/mydesign.css" rel="stylesheet">

<!-- Responsive CSS -->
<link href="css/responsive.css" rel="stylesheet">
</head>
<body>
<header class="header_area animated">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Menu Area Start -->
            <div class="col-12 col-lg-10">
                <div class="menu_area">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!-- Logo -->
                        <a class="navbar-brand" href="#">Ca.</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <!-- Menu Area -->
                        <div class="collapse navbar-collapse" id="ca-navbar">
                            <ul class="navbar-nav ml-auto" id="nav">
                                <li class="nav-item active"><a class="nav-link" href="#home">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                                <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
                                <li class="nav-item"><a class="nav-link" href="#screenshot">Screenshot</a></li>
                                <li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li>
                                <li class="nav-item"><a class="nav-link" href="#testimonials">Testimonials</a></li>
                                <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                            </ul>
                            <div class="sing-up-button d-lg-none">
                                <a href="#">Sign Up Free</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Signup btn -->
            <div class="col-12 col-lg-2">
                <div class="sing-up-button d-none d-lg-block">
                    <a href="#">Sign Up Free</a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="wellcome_area clearfix" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md">

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Heading Text  -->
                            <div class="section-heading text-center">
                                <h2 style="color: black">تصاميمي</h2>
                                <div class="line-shape"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row no-gutters ">
                        <div class="col-12 col-md-6 col-lg-3">
                            <!-- Package Price  -->
                            <div class="single-price-plan text-center">
                                <!-- Package Text  -->
                                <div class="package-plan">
                                    <div class="ca-price d-flex justify-content-center">
                                        <img src="../resource/img/7.png">
                                    </div>
                                </div>
                                <div class="package-description">
                                    <p>تصميم ديني </p>
                                    <p>1441\10\1</p>
                                </div>
                                <div class="flex-container">
                                    <div class="plan-button">
                                        <a href="#" style="padding: 5px">مشاركة</a>
                                    </div>
                                </div>
                                <div class="flex-container">
                                    <div class="plan-button">
                                        <a href="#" style="padding: 5px">تحميل </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-3">
                            <!-- Package Price  -->
                            <div class="single-price-plan text-center">
                                <!-- Package Text  -->
                                <div class="package-plan">
                                    <img src="../resource/img/8.png">
                                </div>
                                <div class="package-description">
                                    <p>تصميم تخرج</p>
                                    <p>1441\8\1</p>
                                </div>
                                <!-- Plan Button  -->
                                <div class="flex-container">
                                    <div class="plan-button">
                                        <a href="#" style="padding: 5px">مشاركة</a>
                                    </div>
                                </div>
                                <div class="flex-container">
                                    <div class="plan-button">
                                        <a href="#" style="padding: 5px">تحميل </a>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
        </div>
    </div>

    </div>
</section>
</body>
</html>