<html lang="en"><head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Core Stylesheet -->
    <link href="../library/css/service.css"rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="../library/css/responsive.css" rel="stylesheet">
</head>


<body>
<!-- Section Heading Area -->
<div class="section-heading text-center ">
    <h2>خدماتنا </h2>
    <div class="line-shape"></div>
</div>


<div class="row ">
    <!-- Single Special Area -->
    <div class="col-12 col-md-4">
        <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
            <div><img src="../resource/img/2.png"></div>
            <h4>تصاميم أكاديمية</h4>
            <div class="row ">
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <label>عروض تقديمية </label>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <label> قوالب التقرير البحثية </label>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <label>قوالب السيرة الذاتية </label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Single Special Area -->
    <div class="col-12 col-md-4">
        <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
            <div><img src="../resource/img/1.png"></div>
            <h4>تصاميم تجارية</h4>
            <div class="row ">
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <label>تصميم ملصقات ولافتات </label>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <label>تصميم اعلانات ودعايات تجارية </label>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <label>تصميم كروت شخصية </label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Single Special Area -->
    <div class="col-12 col-md-4">
        <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
            <div><img src="../resource/img/3.png"></div>
            <h4>تصاميم للتهنئة والمناسبات</h4>
            <div class="row ">
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <label>تصميم الأعياد والمناسبات الدينية </label>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <label>تصميم نجاح وتخرج </label>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <label>شهادات شكر وتقدير</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div></body>